<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Group</title>
</head>
<body>
    <h1>Присоединиться к группе</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li style="color: {% if 'danger' in message %}red{% elif 'success' in message %}green{% else %}black{% endif %};">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

   <form method="post" action="{{ url_for('submit_join_group_form') }}">
        <label for="group_id">ID группы:</label>
        <input type="text" id="group_id" name="group_id" required>
        <button type="submit">Присоединиться</button>
   </form>
</body>
</html>
