<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Test</title>
</head>
<body>

<script>
    const socket = new WebSocket('ws://localhost:5000/group');

    socket.addEventListener('open', (event) => {
        console.log('WebSocket connection opened:', event);
    });

    socket.addEventListener('message', (event) => {
        console.log('WebSocket message received:', event.data);
    });

    // Замените 'your_username', 'your_group_id' и 'your_action' на реальные значения
    const message = {
        user_name: 'aldik',
        group_id: '5187218',
        your_action: true
    };

    // Отправка сообщения
    socket.send(JSON.stringify(message));
</script>

</body>
</html>
